.button-group {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-md);
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: var(--border-radius-md);
  padding: var(--spacing-sm) var(--spacing-md);
  box-shadow: var(--shadow-sm);
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

button:disabled {
  background-color: var(--disabled-color) !important;
  cursor: not-allowed;
}

button.icon-button {
  background: none;
  color: var(--button-bg);
  border: none;
  padding: 0;
  box-shadow: none;
  font-size: var(--font-md);
}

/*button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}*/
button:hover {
  filter: brightness(1.1);
  transform: translateY(-1px);
}
button:not(.icon-button):hover {
  box-shadow: var(--shadow-md);
}

button:active {
  filter: brightness(0.9);
  transform: translateY(1px);
}
button:not(.icon-button):active {
  box-shadow: var(--shadow-sm);
}

/* Danger Button Styles */
button.icon-button.danger {
  color: var(--button-danger-bg);
}
button:not(.icon-button).danger {
  background-color: var(--button-danger-bg);
  color: var(--button-danger-text);
}

/* Primary Button Styles */
button.icon-button.primary-button {
  color: var(--button-bg);
}
button:not(.icon-button).primary-button {
  background-color: var(--button-bg);
  color: var(--button-text);
}

/* Secondary Button Styles */
button.icon-button.secondary-button {
  color: var(--text-color);
}
button:not(.icon-button).secondary-button {
  background-color: var(--button-secondary-bg);
  color: var(--text-color);
}
