.script-item {
  display: flex;
  align-items: center;
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-md);
  background-color: var(--background-color);
  transition: background-color 0.2s;
  justify-content: space-between;
  box-sizing: border-box;
  border-width: 0.1px;
  border-style: solid;
}

.script-item.QUICK_SWITCH {
  border-width: 1px;
  border-style: dashed;
}

.script-item.QUICK_SWITCH,
.script-item.OPTIONS {
  cursor: grab;
}

.script-item.QUICK_SWITCH:hover,
.script-item.OPTIONS:hover {
  background-color: var(--hover-color-dark);
}

.script-color {
  margin-right: var(--spacing-xs);
}

.script-name {
  flex-grow: 1;
  font-size: 14px;
}
.script-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
}
